
.container{
    height: 50%;width:100%;
    background: #fee433;
}
.preview-wrapper{
    display: flex;
    align-items: center;justify-content: center;
    position: relative;
}
.nose{
    border-style:solid;
    border-width: 12px;
    border-color: black transparent transparent;
    border-radius: 11px;
    position: absolute;left:50%;top:28px;margin-left: -12px;
}
.eye{
    width:49px;height: 49px;background: #2e2e2e;position: absolute;
    border-radius: 50%;
}
.eye::before{
    content:'';
    display: block;
    width: 24px;height: 24px;
    background: white;
    position: absolute;left:6px;top:2px;
    border-radius: 50%;
    border:2px solid black;
}
.eye.left{
    right: 50%;margin-right: 90px;
}
.eye.right{
    left: 50%;margin-left: 90px;
}
.cheek{
    width: 68px ; height: 68px;
    background: #fc0d1c;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;top:85px;
}
.cheek.left{
    right: 50%;margin-right: 116px;
}
.cheek.right{
    left: 50%;margin-left: 116px;
}
.upperLip.right{
    height: 15px;width: 64px;
    border:3px solid black;
}